@media (min-width: 1200px) {
    .container {
        width: 800px;
        max-width: 100%;
    }
}

#top-section, #footer {
    background: #222;
    color: #fff;
    padding: 100px 0;
    text-align: center;
}

#top-section h1 {
    font-size: 48px;
    font-weight: 200;
}